/target/**
.project
.settings/**
legacy-spring-mvc/.classpath
legacy-spring-mvc/.gitignore
legacy-spring-mvc/.project
legacy-spring-mvc/.settings/
spring-boot-aop/.classpath
spring-boot-aop/.project
spring-boot-aop/.settings/**
spring-boot-rest/.classpath
spring-boot-rest/.gitignore
spring-boot-rest/.project
spring-boot-rest/.settings/**
spring-core/.classpath
spring-core/.gitignore
spring-core/.project
spring-core/.settings/**
spring-hibernate-jpa/.classpath
spring-hibernate-jpa/.gitignore
spring-hibernate-jpa/.project
spring-hibernate-jpa/.settings/**

.idea/**
.project
.settings/**